<form class="form-horizontal" (submit)="onSubmit()" [formGroup]="templateTableDataForm">
  <div class="form-group" style="margin-bottom: 0;">
    <div class="col-sm-12 ">
      <div class="panel" style="margin-bottom: 0;">
          <div id="titleDiv">{{title}} </div>
          <div class="new-form-group">
            <app-table [captionClass]="'captionClass'" [data]="templates"
                       [isTableBoarded]="true" [marginBottomOfTable]="'0px'">
              <tr *ngFor="let templateData of templates " tabledata>
                <td >{{templateData.number}}</td>
                <td>{{templateData.image}}</td>
                <td>
                  <app-checkbox [control]="templateTableDataForm.get([templateData.number])"
                                [isRequired]="false"></app-checkbox>
                </td>
              </tr>
            </app-table>
          </div>

      </div>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <div class="col-sm-12 ">
      <div class="btn-toolbar" id="cancelSaveButtonGroup">
        <button (click)="closeModal()" class="btn-default btn" id="cancelButton">Cancel</button>
        <button class="btn-primary btn" id="saveButton" type="submit">Save</button>
      </div>
    </div>
  </div>

</form>

