
#status{
  color: rgb(0,128,0);
  width: 70px;
}

#editButtonColumn > .btn-group{
  float: right;
}
#editButtonColumn > .btn-group > button{
  font-weight:400;
}
#newMaskingBtnId{
  font-weight:400;
}
