h4{
  font-size: 14px
}
.borderClass{
  border:1px solid #d2d3d6;
  margin:20px;
}
#subtitle{
  margin-top: 10px;
  margin-bottom: -10px;
}
.modal-header-class{
  padding:20px;
}

@media (min-width: 768px) {
  .modalDialogClass {
    width: 1000px;
  }
}
.orangeColor{
  color: #E87610;
}

