#noOfRecordsAndSearchDiv select{
  width: 80px;
  margin-right: 10px;
}
#addNewUserLabel{
  color: #aeafb1;
  margin-top: 20px;
  margin-bottom: 0px;
}
#noOfRecordsAndSearchDiv{
  display:flex;
  justify-content: space-between;
}
#noOfRecordsAndSearchDiv select,
#noOfRecordsAndSearchDiv input {
  height: 30px;
}
#status{
  color: rgb(0,128,0);
  width: 70px;
}
#editButtonColumn{
  width:135px;

}
#editButtonColumn > .btn-group{
  float: right;
}
#editButtonColumn > .btn-group > button{
  font-weight:400;
}
#addNewUserBtnId{
  font-weight:400;
}
