<app-accordion
  panelstyle="panel-orange"
  [title]="title"
  [collapsed]="!isActive"
  [checkMark]="true"
  [gray]="!isActive"
>
  <div class="panel-body" style="border-top:none">
      <div class="panel">
        <div class="panel-body" style="border-top:1px solid #dddddd " >
          <div class="col-md-12">
            <div id="noOfRecordsAndSearchDiv">
              <label>
                <select>
                <option *ngFor="let opt of options">{{opt}}</option>
                </select>
                records per page
              </label>
              <label>
                <input type="text"  placeholder="Search here...">
              </label>
            </div>
            <div>
              <label id="addNewUserLabel">Add New User &nbsp;&nbsp;
                <button class="btn btn-success btn-label "  id="addNewUserBtnId" (click)="toggleAddUsers()">
                  <i class="fa fa-plus-circle"></i> Add Users
                </button>
              </label>
            </div>
            <app-table
              [headings]="headings"
              [isTableBoarded]="true"
              [isStriped]="false"
              [data]="tableData"
              [headerClass]="'headerClass sorting'"
            >
              <tr tabledata *ngFor="let row of tableData">
                <td>{{row.userId}}</td>
                <td>{{row.userName}}</td>
                <td>{{row.email}}</td>
                <td id="status">{{row.status}}</td>
                <td id="editButtonColumn">
                  <div class="btn-group "  >
                    <button type="button" class="btn btn-info btn-label " (click)="toggleEditUserAccountGroup()"><i class="fa fa-edit"></i>Edit</button>
                  </div>
                </td>


              </tr>
            </app-table>
            <div>
              Showing 1 to 10 of 33 entries
            </div>
          </div>

        </div>
      </div>

    </div>
</app-accordion>
