#noOfRecordsAndSearchDiv select{
  width: 80px;
  margin-right: 10px;
}

#noOfRecordsAndSearchDiv{
  display:flex;
  justify-content: space-between;
}
#noOfRecordsAndSearchDiv select,
#noOfRecordsAndSearchDiv input {
  height: 30px;
}
#buttonGroupColumn > .btn-group{
  float: right;
}
#addNewUserBtnId{
  font-weight:400;
}

