.inputGroupClass{
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
}
#cancelButton{
  margin-right: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  font-weight: 400;
}
#saveButton{
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}
#buttonGroup{
  width: fit-content;
  float: right;
}
.firstColumn{
  width: 85%;
}
