.invalid:focus-within{
  border: 1px solid red;
}
#strength{
  height:10px;
  border: none;
}
input[type="text"],
input[type="password"],
input[type="file"],
#gender{
  width: 371px;
  height: 34px;
}

label{
  font-size: 13px;
}
#checkbox{
  margin-top: 8px;
}
.password-info{
  margin-bottom: 7px;
}
