<div class="panel">
  <div class="panel-body">
    <a routerLink="/summary">
      <button class="btn btn-default buttonColor" id="summaryButton" #summaryButton>Summary</button>
    </a>
    <a routerLink="/manage-user">
      <button class="btn btn-default buttonColor" id="manageUserButton" #manageUserButton>Manage User</button>
    </a>
    <a routerLink="/manage-template">
      <button class="btn btn-default buttonColor" id="manageTemplateButton" #manageTemplateButton>Manage Template</button>
    </a>
    <a routerLink="">
      <button class="btn btn-default buttonColor" id="reIndexButton" #reIndexButton>Re-Index</button>
    </a>
    <a routerLink="">
      <button class="btn btn-default buttonColor" id="departments" #departments>Departments</button>
    </a>
    <a routerLink="">
      <button class="btn btn-default buttonColor" id="tracking" #tracking>Tracking</button>
    </a>
    <a routerLink="">
      <button class="btn btn-default buttonColor" id="renewLicense" #renewLicense>Renew License</button>
    </a>
  </div>
</div>

